.carousel-inner{
    padding: 1em;
  }
  .card{
      margin: 0 .5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: none;
  }
  .carousel-control-prev, .carousel-control-next{
      background-color: #e1e1e1;
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
  }
  body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}

  img {
    height: 14em;
    object-fit: contain;
}
  
body{
  background:#eee
}

.ratings i{
  font-size: 16px;
  color: red
}

.strike-text{
  color: red;
  text-decoration: line-through
}

.product-image{
  width: 100%
}

.dot{
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1{
  color: #938787;
  font-size: 15px
}

h5{
  font-weight: 400
}

.para{
  font-size: 16px
}

.select-quantity {
  width: 15%;
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--bs-dark);
}
.sidebar .nav-link:hover {
  background: var(--bs-light);
  color: var(--bs-primary);
}