<div class="d-md-flex align-items-stretch">
  <div class="container mt-5 mb-5">
    <h2 style="margin: 1rem">Productos</h2>
    <form
      class="d-flex w-100"
      style="margin: 1rem"
      [formGroup]="searchForm"
      (ngSubmit)="onSearchSubmit(searchForm.value)"
    >
      <input
        class="form-control"
        type="search"
        placeholder="Nombre"
        aria-label="Search"
        formControlName="filter"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="d-flex justify-content-center row">
      <div class="col-md-10">
        <a [routerLink]="['/productos/crear']">
          <button type="button" class="btn btn-success">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              />
            </svg>
            Nuevo
          </button>
        </a>

        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>categoria</th>
              <th>Detalles</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.id }}</td>
              <td>{{ producto.titulo }}</td>
              <td>{{ producto.precio | currency }}</td>
              <td>{{ producto.categoria.nombre }}</td>

              <td>
                <a [routerLink]="['/productos/detalles/', producto.id]">
                  <button type="button" class="btn btn-primary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-eye-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"
                      ></path>
                      <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                      ></path>
                    </svg>
                  </button>
                </a>
              </td>

              <td>
                <a [routerLink]="['/productos/editar/', producto.id]">
                  <button type="button" class="btn btn-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                      />
                    </svg>
                  </button>
                </a>
              </td>

              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="eliminarProducto(producto.id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                    />
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav aria-label="Producto Pages">
      <ul class="pagination justify-content-center">
        <li [class]="'page-item' + (currentPage == 1 ? ' disabled' : '')">
          <button
            class="page-link"
            (click)="callGetProductos(currentPage - 1, filter)"
            tabindex="-1"
          >
            Previous
          </button>
        </li>
        <li
          *ngFor="let pageNumber of pageNumberArray; index as i"
          [class]="'page-item ' + (pageNumber == currentPage ? 'active' : '')"
        >
          <button
            class="page-link"
            (click)="callGetProductos(pageNumber, filter)"
          >
            {{ pageNumber }}
          </button>
        </li>
        <li
          [class]="'page-item' + (currentPage == pageCount ? ' disabled' : '')"
        >
          <button
            class="page-link"
            (click)="callGetProductos(currentPage + 1, filter)"
          >
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
